<!--
*ngIf: * も含めて大事なシンタックス！
-->
<div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{ selectedHero.id }}</div>
</div>
<h2>My Heroes</h2>
<ul class="heroes">
    <!--
    *ngFor: * も含めて大事なシンタックス
    (click): event bind
    [class.selected]: とある条件下においてclassを付与する
    -->
    <!--<li *ngFor="let hero of heroes"-->
        <!--(click)="onSelect(hero)"-->
        <!--[class.selected]="hero === selectedHero"-->
    <!--&gt;-->
        <!--<span class="badge">{{ hero.id }}</span> {{ hero.name }}-->
    <!--</li>-->
    <li *ngFor="let hero of heroes"
    >
        <a routerLink="/detail/{{ hero.id }}">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
        </a>
    </li>

</ul>

<!--

Angular では propを[]で囲んで渡す
property binding
これを heroes.component.tsの @Input で定義している。
@Inputはformのinputではなくて、props定義

分けることはどうしていいのか？
1. Heroes Component の責務が減る（リスト表示だけでいい）
2. Hero Detail Component は 親Componentである Hero Componentを触ることなく、変更を加えることができる
3. 子と同様に親である Hero Component も詳細に関する表示部分を意識することなく、変更を加えることができる。
4. コンポーネントに切り出されているため、 Hero Detail Component は他のComponent で再利用することができる

-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->